.newClaim-form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(210, 230, 200);
  border: 1px #000 solid;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.newClaim-form label {
  width: 120px;
  display: block;                   /*label is inline object, must be made a block */
  float: left;
  margin-right: 10px;
}

.newClaim-form input {
  margin-bottom: 10px;
  display: block;
}

.newClaim-form button {
  background-color: rgb(193, 129, 159);
  margin-left: 250px;
  font-weight: bold;
}

.newClaim-form textarea {
  margin-bottom: 7px;
  display: block;
}

.newClaim-form select {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .newClaim-form {
    width: 70%;
    background: #8a9ed8;
  }
}

  form label.radio-label {
  display: inline-block;
  float: none;
  width: fit-content;
}

input[type="radio"] {
    display: inline-block;
}

.radio-container {
  margin-bottom: 15px;
}

