.view-claims-table button {
  background-color: rgb(129, 193, 129);
  /* background-color: rgb(193, 29, 119); */
  font-weight: bold;
  /* border-bottom: 50px;; */
  margin-top: 2px;
  margin-bottom: 2px;
}

.view-claims-table {
  background-color: #fff;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 70px;
}

.view-claims-table td, th {
  border: 1px solid #000;
}





/* .search-table button {
  background-color: rgb(129, 193, 129);
}

.search-table {
  background-color: #fff;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
}

.search-table td, th {
  border: 1px solid #000;
} */