/* .App {
  text-align: center;
  background: #ccc;
} */

.App {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(224, 223, 223);
}

@media only screen and (min-width: 1024px) {
  .App {
    background: #becbe7;
  }
}

@media only screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
